* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #06111c !important;
}

.todo {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    margin: 0 0 !important;
    width: 100% !important;
}

.todo-container .tasks-content {
    background-color: #dfdfdf;
}

.todo-container .add-task {
    padding: 15px;
    background-color: #009688;
    position: relative;
}

.todo-container .add-task input {
    border: none;
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, .3);
    width: calc(100% - 15px);
    color: #fff;
    font-size: 20px;

}

.todo-container .add-task input:focus {
    outline: none !important;
}

.form-control:focus {
    box-shadow: none;
}

.todo-container .add-task .plus {
    position: absolute;
    height: 50px;
    width: 50px;

    background-color: #fff;
    right: 6px;
    border-radius: 50%;
    line-height: 43px;
    color: #009688;
    cursor: pointer;
    font-size: 38px;
    transition: transform .3s;
}

.todo-container .add-task .plus:hover {
    transform: rotate(90deg);
}

.todo-container .tasks-content {
    padding: 15px;
}

.todo-container .tasks-content .no-tasks-message {
    color: #777;
    font-size: 25px;
}

.todo-container .tasks-content > span {
    display: block;
    background-color: #fff;
    padding: 10px;
}

.todo-container .tasks-content > span:not(:last-child) {
    margin-bottom: 10px;
}

.todo-container .tasks-content .task-box .delete {
    /* display: flex;
    align-self:end; */
    float: right;
    background-color: #E91E63;
    padding: 4px 10px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.todo-container .tasks-content .task-box .finish {
    text-decoration: line-through;
}

.finish {
    text-decoration: line-through;
}

.tasks-stats {

    overflow: hidden;
    margin: 10px auto;
    /* width: 600px; */
    font-size: 12px;
}

.tasks-stats .tasks-count {
    width: 50%;
    float: left;
    padding: 10px;
    font-weight: 600;

}

.tasks-stats .tasks-completed {
    width: 50%;
    float: right;
    padding: 10px;
    text-align: right;
    font-weight: 600;

}

.tasks-stats .tasks-count span,
.tasks-stats .tasks-completed span {
    color: #fff;
    padding: 1px 5px;
    font-size: 10px;
    border-radius: 4px;
    font-weight: bold;
}

.tasks-stats .tasks-count span {
    background-color: #E91E63;
}

.tasks-stats .tasks-completed span {
    background-color: #03A9f4;
}

.finish-delete .finish-all {
    float: right;
    background-color: #03A9f4;
    padding: 4px 10px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.finish-delete .delete-all {
    float: right;
    background-color: #E91E63;
    padding: 4px 10px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.finish-delete .delete-all .finish {
    text-decoration: line-through;
}

.finish {
    text-decoration: line-through;
}